.container {
    width: 200px;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}